/vendor
/node_modules

/.env
/.env.*
!/.env.example

/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

/bootstrap/cache/*

/.phpunit.result.cache
/coverage

/public/build
/public/hot

.DS_Store
Thumbs.db

/.idea
/.vscode
